<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeMap外勤管理平台</title>
    <style>
        #dl{
            height: 21px;
            width: 177px;
            box-sizing: border-box;
        }
        form{
            height: 200px;
            width: 200px;
            transform-origin: 100% 100%;
            transform:translate(600px,400px);
        }
       
    </style>
</head>
<body>
    <form action="">
        <div id="main">
            <div><input type="text" placeholder="用户名"></div>
            <div><input type="password" placeholder="请输入密码"></div>
            <div><input type="submit" value="登录" id="dl"></div>
        </div>
        
    </form>
</body>
</html>